*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

.clear{
	clear: both;
}

html,body{
	height: 100%;
}

a,
a:hover,
a:active,
a:link,
a:visited{
	text-decoration: none;
	color:white;
}
/* -------------------- */

header{
	background-image: url(../imagens/capa.png);
	background-size:cover;
	background-position: center;
	height: 700px;
	background-repeat: no-repeat;
	position: relative;
	top:-12px;
	
}
.header-c{
	max-width: 1080px;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.header__logo img{
	width:150px;
	border-radius: 20px;
}

.header__list{
	display: flex;
}

.header__link{
	list-style: none;
	padding-left: 50px;
	font-size: 1.3rem;
}

.header-c__texto{
	max-width: 500px;
	display: flex;
	flex-wrap: wrap;
	margin-top:150px ;
	margin-right: 150px;
	color: white;
	font-size: 1.3rem;
	font-weight: lighter;
	float: right;
}

/* ------------------------------ */

.caract{
	background-color: #4B2C66;
	width: 100%;
	height:400px;
	display: flex;
	position: relative;
	top:-12px;
	
	
}

.caract-c{
	width: 50%;
	color:white;
	position: relative;
	top:20px;
	right:-120px;
	
}
.caract-c h2{
	font-weight: 300;
	font-size: 35px;
}

.caract-c p {
	font-size: 25px;
	margin-top: 20px;
}

.caract-c ul{
	font-size: 19px;
	list-style-position: outside;
	padding-left: 25px;
}

.caract__btn{
	width:165px;
	height: 44px;
	color:white;
	cursor: pointer;
	margin-top: 10px;
	background-color: #FF703D;
	border-radius: 30px;
	border: none;
	margin-bottom: 20px;

}

.device-img {
	background-image: url(../imagens/device.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 440px;
	width: 50%;
	float: right;
	position: relative;
	top:-40px;
	right:50px; 
}


/* .device-img img{
	height: 440px;
	width: 100%;
	float: right;
	position: relative;		USANDO IMG EM VEZ DO BACKGROUND
	top:-40px;
	right:0px; 
} */

/* -------------------------------------------- */

.developer{
	background-color: white;
}

.dev-c{
	text-align: center;
	padding-top:80px;
	color:#4B2C66;
	max-width: 1000px;
	margin: 0 auto;
}

.dev-c h2 {
	padding-bottom: 15px;
	font-size:30px;
	font-weight: 300;

}

.dev-c p {
	max-width: 900px;
	display: inline-block;
}

.dev-c img{
	width: 97%;
	margin-top: 40px;
	position: relative;
	top:100px;
	box-shadow:10px 5px 20px  #88888888;
}

.nossotime{
	display: flex;
}

.nossotime-c{
	background-color:#8669AC ;
	width: 50%;
	
}

.nossotime__desc{
	max-width: 520px;
	float: right;
	padding: 150px 20px 20px 20px;
	color: white;
}

.nossotime__desc h2{
	font-style: italic;
	margin-bottom: 10px;
}

.dev{
	background-color:#F6F6FB;
	width: 50%;
	color:#4B2C66
}

.deve-c{
	max-width: 520px;
	padding: 150px 20px 20px 20px;	
}
.autor__titulo img{
	width: 60px;
	float: left;
}

.wrapper {
	float: left;
	margin-bottom: 10px;
}

.autor__desc{
	float: left;
}

.slider-bullets {
	margin-top: 10px;
	padding-left: 20px;
	width: 100%;
	float: left;
	padding-bottom: 90px;
}

.slider-bullets span{
	width: 16px;
	height: 16px;
	float: left;
	cursor: pointer;
	margin-right: 5px;
	border-radius: 8px;
	background-color: rgb(200,200,200);
}

.slider-bullets span:first-child{
	background-color: black;
}

/* --------------------------------------- */

.formulario{
	background-color:#492D66 ;
	color: white;
}

.form__bg{
	max-width: 1080px;
	margin:0 auto;
	display: flex;
	
}
.form-c{
	padding:90px 10px 90px 10px;
	display: flex;
	flex-wrap: wrap;
	max-width: 50%;
}

.form-c h2 {
	font-size: 30px;
	margin-bottom: 20px;
}

.form-c p {
	font-size: 18px;
	text-align: justify;
	margin-bottom: 20px;
}

.form{
	display: flex;
	flex-direction: column;	
	width: 100%;
	
}
.form input{
	margin-bottom: 5px;
	width: 100%;
	
}
.input__nome{
	height:50px;
	padding: 10px;
	font-size: 20px;
}

.input__email{
	height:50px;
	padding: 10px;
	font-size: 20px;
}

.input__mensagem{
	height:200px;
	font-size: 20px;
	padding: 10px;
}

.form input[type="submit"]{
	height: 50px;
	width:138px;
	border-radius:20px;
	background-color: #FF703D;
	color: white;
	font-weight:bolder;
	font-size: 18px;
	cursor: pointer;
	margin-top: 20px;
}

.map-wraper{
	padding:90px 10px 90px 10px;
	max-width: 50%;
	display: flex;
	flex-wrap: wrap;
}

.map-wraper h2 {
	font-size: 30px;
	margin-bottom: 20px;
	margin-left: 20px;
}

	
.map{
	margin-left: 20px;
	width:480px;
	height: 480px;
	background-color: white;
	border:5px solid gray;
	
}

footer{
	padding:40px 40px;
	background-color: #192123;
	color: white;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	
	
}

@media screen and (max-width:768px){
	.header-c__texto{
		text-align: center;
		float: none;
		margin:150px auto;
	}

	.device-img{
		display: none;
	}
	.caract-c{
		float: none;
		margin:0 auto;
		position:sticky;
		margin-top: 20px;
		text-align: center;
	}
	.caract{
		background-color: #4B2C66;
		width: 100%;
		height:auto;
		display: flex;
	}
	.caract-c ul{
		font-size: 19px;
		list-style-position: inside;
		
	}
	.caract-c li{
		margin:20px 10px;
		text-align:justify;
		
		
	}
	
	.form__bg{
		max-width:100%;
		text-align: center;
		display: block;
		
	}
	
	.form-c{
		padding:60px 20px 30px 20px;
		display: block;
		max-width:90%;
		margin: 0 auto;
	}
	.form{
		display: block;
		width: 100%;
		
	}
	.input__mensagem{
		width: 100%;	
	}
	
	.form input[type="submit"]{
		width:208px;
		
	}

	.map-wraper{
		max-width: none;
		display: block;
		padding:0 0 50px 0;
		
	}
	.map{
		margin:0 auto;
		width:80%;
		

	}

}

@media screen and (max-width: 580px){
	.nossotime{
		display:inline-block;
		float: none;
		width: 100%;
	}
	.nossotime-c{
		background-color:#8669AC ;
		width: 100%;
		
	}
	
	.nossotime__desc{
		max-width: 100%;
		float: none;
		padding: none;
		color: white;
	}
	.dev{
		float:none;
		width:100%;
	}
	.deve-c{
		padding: 20px;
	}
	
}